body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, black 100%) no-repeat fixed;
  text-align: center;
}

header {
  font-size: 3em;
  animation-name: header;
  animation-duration: 1.5s;
}

@keyframes header {
  from {font-size: 0px;color: white;}
  to {margine-top: 0px;}
}

h2 {
  font-size: 2em;
}

ul {
  padding: 0;
}

#grid-floats .grid-item {
  float: left;
}

#grid-flex {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0 0 30px black inset, 0 0 10px 4px black;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: calc(25% - 30px);
  height: 450px;
  margin: 15px;
  padding: 10px;
}

.grid-item:hover {
  box-shadow: 0 0 15px black inset, 0 0 5px 2px black;
}

.grid-item:nth-child(1) {
  width: calc(50% - 30px);
}

img {
  width: 40%;
}

section:nth-child(2) {
  clear: both;
  padding-top: 50px;
}

@media (min-width: 768px) and (max-width: 991px) { /*tablet*/
  .grid-item {
    width: calc(100% / 3 - 30px);
  }

  .grid-item:nth-child(-n + 2) {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 767px) {  /*mobile*/
  .grid-item {
    width: calc(100% / 2 - 30px);
  }

  .grid-item:nth-child(1) {
    width: calc(100% - 30px);
  }
}
