body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, black 100%) no-repeat fixed;
}

header,h2 {
  text-align: center;
  font-size: 2em;
}

ul {
  padding: 0;
}

#grid-floats .grid-item {
  float: left;
}

#grid-flex {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0 0 45px black inset, 0 0 10px 4px black;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  width: calc(25% - 20px);
  height: 400px;
  margin: 10px;
  padding: 10px;
}

.grid-item:hover {
  box-shadow: 0 0 15px black inset, 0 0 5px 2px black;
}

.grid-item:nth-child(1) {
  width: calc(50% - 20px);
}

img {
  width: 40%;
}

section:nth-child(2) {
  clear: both;
  padding-top: 50px;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .grid-item {
    width: calc(100% / 3 - 20px);
  }

  .grid-item:nth-child(-n + 2) {
    width: calc(100% / 2 - 20px);
  }
}

/*mobile*/
@media (max-width: 767px) {
  .grid-item {
    width: calc(100% / 2 - 20px);
  }

  .grid-item:nth-child(1) {
    width: calc(100% - 20px);
  }
}
